@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

*, *:before, *:after {
    box-sizing: border-box;
}

button {
    outline: none;
}



html {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
    color: #333;
    font-family: 'NanumSquare', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #ecf0f9;
    background-attachment: fixed;
}


p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1rem;
}



#last {
    margin-bottom: 1em;
}
