@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

*, *:before, *:after {
    box-sizing: border-box;
}

button {
    outline: none;
}



html {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
    color: #333;
    font-family: 'NanumSquare', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #ecf0f9;
    background-attachment: fixed;
}


p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1rem;
}



#last {
    margin-bottom: 1em;
}


.rating {
    display: inline-block;
    width: 100%;
    margin-top: 40px;
    padding-top: 40px;
    text-align: center;
  }
  
  .like,
  .dislike {
    display: inline-block;
    cursor: pointer;
    margin: 10px;
  }
  
  .dislike:hover,
  .like:hover {
    color: #2EBDD1;
    transition: all .2s ease-in-out;
    transform: scale(1.1);
  }
  
  .active {
    color: #2EBDD1;
  }